Host *
  ForwardAgent yes
  GSSAPIAuthentication no
  #ControlMaster auto
  #ControlPath .ssh_controlmaster/socket_%r@%h:%p
  #ControlPersist 30m
  User centos
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking no

Host bastion
  HostName 10.1.1.1

# GPGPU nodes
Host cuda-demo* cuda-pouta-*
  ProxyCommand ssh -F ssh.config -q bastion nc %h 22
